openapi: 3.0.0
info:
  contact:
    name: The open API platform by Mercedes-Benz
  description: >
    This API allows to determine the electrical status and remaining distance of
    connected Mercedes-Benz vehicles remotely.

    Data is categorized into resources and containers for the polling interface.
    They are defined as follows:

    * *Resource*: A resource is a single information about a vehicle. It's a
    measurement that consists of a name (also referred to as resource ID), a
    value, and an associated timestamp. See below for a list and description of
    all resources that this API provides.

    * *Container*: A container is a set of resources that are defined to group
    data for a certain use case.


    The interface is a ISO 20078-compliant REST endpoint to query the latest
    data for a vehicle. If the vehicle did not send an update for a resource
    within 12 hours, the response will be empty.

    ## Resources

    This is an alphabetical list of all resources that the API provides.

    Name | Description | Unit/Range

    ---- | ----------- | ----------

    soc | Displayed state of charge for the HV battery | 0..100 %

    rangeelectric | Electric range | 0..2046 km
  title: Electric Vehicle Status API
  version: '2.0'
servers:
  - url: 'https://api.mercedes-benz.com/vehicledata/v2'
paths:
  '/vehicles/{vehicleId}/containers/electricvehicle':
    get:
      parameters:
        - description: Vehicle identification number
          in: path
          name: vehicleId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json;charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/EvStatus'
                type: array
          description: OK
        '204':
          description: No data available
        '400':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Forbidden
        '404':
          description: Resource not Found
        '429':
          description: The service received too many requests in a given amount of time.
        '500':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Internal Server Error
        '503':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Service Unavailable
      tags:
        - Container Electric Vehicle Status
      deprecated: false
      operationId: getResourcesForContainerIdUsingGET
      summary: >-
        Returns all resources for the provided 'electricvehicle', data can be
        filtered for a certain time range.
  '/vehicles/{vehicleId}/resources':
    get:
      parameters:
        - description: Vehicle identification number
          in: path
          name: vehicleId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json;charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/ResourceMetaInfo'
                type: array
          description: OK
        '204':
          description: No data available
        '400':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Forbidden
        '404':
          description: Resource not Found
        '429':
          description: The service received too many requests in a given amount of time.
        '500':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Internal Server Error
        '503':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Service Unavailable
      tags:
        - Resources
      deprecated: false
      operationId: getAllResourcesForVinUsingGET
      summary: >-
        Returns all available resources for the provided vehicle identification
        number.
  '/vehicles/{vehicleId}/resources/rangeelectric':
    get:
      parameters:
        - description: Vehicle identification number
          in: path
          name: vehicleId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  rangeelectric:
                    $ref: '#/components/schemas/Resource'
                type: object
          description: OK
        '204':
          description: No data available
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Forbidden
        '404':
          description: Resource not Found
        '429':
          description: The service received too many requests in a given amount of time.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Internal Server Error
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Service Unavailable
      tags:
        - Range electric resource
      deprecated: false
      operationId: getLatestRangeElectricUsingGET
      summary: >-
        Returns the latest available electric range resource for the vehicle
        identification number.
  '/vehicles/{vehicleId}/resources/soc':
    get:
      parameters:
        - description: Vehicle identification number
          in: path
          name: vehicleId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json;charset=utf-8:
              schema:
                properties:
                  soc:
                    $ref: '#/components/schemas/Resource'
                type: object
          description: OK
        '204':
          description: No data available
        '400':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Forbidden
        '404':
          description: Resource not Found
        '429':
          description: The service received too many requests in a given amount of time.
        '500':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Internal Server Error
        '503':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Service Unavailable
      tags:
        - State of charge resource
      deprecated: false
      operationId: getLatestStateOfChargeUsingGET
      summary: >-
        Returns the latest available state of charge resource for the vehicle
        identification number.
components:
  schemas:
    EvStatus:
      properties:
        rangeelectric:
          $ref: '#/components/schemas/Resource'
        soc:
          $ref: '#/components/schemas/Resource'
      title: EvStatus
      type: object
    ExVeError:
      properties:
        exveErrorId:
          type: string
        exveErrorMsg:
          type: string
        exveErrorRef:
          type: string
      title: ExVeError
      type: object
    Resource:
      properties:
        timestamp:
          type: integer
        value:
          type: string
      title: Resource
      type: object
    ResourceMetaInfo:
      properties:
        href:
          type: string
        name:
          type: string
        version:
          type: string
      title: ResourceMetaInfo
      type: object
  securitySchemes:
    OAuth2:
      flows:
        authorizationCode:
          authorizationUrl: 'https://id.mercedes-benz.com/as/authorization.oauth2'
          scopes:
            'mb:vehicle:mbdata:evstatus': Grant electrical status access
          tokenUrl: 'https://id.mercedes-benz.com/as/token.oauth2'
      type: oauth2
security:
  - OAuth2:
      - 'mb:vehicle:mbdata:evstatus'
tags:
  - description: >-
      Electric Vehicle Status service for view all electric status vehicle data
      points
    name: Container Electric Vehicle Status
  - description: Electric Vehicle service for view all accessible resources
    name: Resources
  - description: State of charge service for view state of charge resource
    name: State of charge resource
  - description: Electric range service for view electric change resource
    name: Range electric resource

