openapi: 3.0.0
info:
  contact:
    name: The open API platform by Mercedes-Benz
  description: "This API allows to determine the fuel level and remaining distance of connected Mercedes-Benz vehicles remotely.\nData is categorized into resources and containers for the polling interface. They are defined as follows:\n* *Resource*: A resource is a single information about a vehicle. It's a measurement that consists of a name (also referred to as resource ID), a value, and an associated timestamp. See below for a list and description of all resources that this API provides.\n* *Container*: A container is a set of resources that are defined to group data for a certain use case.\n\nThe interface is a ISO 20078-compliant REST endpoint to query the latest data for a vehicle. If the vehicle did not send an update for a resource within 12 hours, the response will be empty.\n## Resources\nThis is an alphabetical list of all resources that the API provides.\nName | Description | Unit/Range\n---- | ----------- | ----------\nrangeliquid | Liquid fuel tank range | 0..2046 km\ntanklevelpercent | \tLiquid fuel tank level | 0…100 %\n"
  title: Fuel Status API
  version: '2.0'
servers:
  - url: 'https://api.mercedes-benz.com/vehicledata/v2'
paths:
  '/vehicles/{vehicleId}/containers/fuelstatus':
    get:
      parameters:
        - description: Vehicle identification number
          in: path
          name: vehicleId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json;charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/FuelStatus'
                type: array
          description: OK
        '204':
          description: No data available
        '400':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Forbidden
        '404':
          description: Resource not Found
        '429':
          description: The service received too many requests in a given amount of time.
        '500':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Internal Server Error
        '503':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Service Unavailable
      tags:
        - Container Fuel Status
      deprecated: false
      operationId: getResourcesForContainerIdUsingGET
      summary: >-
        Returns all resources for the provided 'fuelstatus', data can be
        filtered for a certain time range.
  '/vehicles/{vehicleId}/resources':
    get:
      parameters:
        - description: Vehicle identification number
          in: path
          name: vehicleId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json;charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/ResourceMetaInfo'
                type: array
          description: OK
        '204':
          description: No data available
        '400':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Forbidden
        '404':
          description: Resource not Found
        '429':
          description: The service received too many requests in a given amount of time.
        '500':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Internal Server Error
        '503':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Service Unavailable
      tags:
        - Resources
      deprecated: false
      operationId: getAllResourcesForVinUsingGET
      summary: >-
        Returns all available resources for the provided vehicle identification
        number.
  '/vehicles/{vehicleId}/resources/rangeliquid':
    get:
      parameters:
        - description: Vehicle identification number
          in: path
          name: vehicleId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  rangeliquid:
                    $ref: '#/components/schemas/Resource'
                type: object
          description: OK
        '204':
          description: No data available
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Forbidden
        '404':
          description: Resource not Found
        '429':
          description: The service received too many requests in a given amount of time.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Internal Server Error
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Service Unavailable
      tags:
        - Range liquid resource
      deprecated: false
      operationId: getLatestRangeliquidUsingGET
      summary: >-
        Returns the latest available range liquid level resource for the vehicle
        identification number.
  '/vehicles/{vehicleId}/resources/tanklevelpercent':
    get:
      parameters:
        - description: Vehicle identification number
          in: path
          name: vehicleId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json;charset=utf-8:
              schema:
                properties:
                  tanklevelpercent:
                    $ref: '#/components/schemas/Resource'
                type: object
          description: OK
        '204':
          description: No data available
        '400':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Forbidden
        '404':
          description: Resource not Found
        '429':
          description: The service received too many requests in a given amount of time.
        '500':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Internal Server Error
        '503':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Service Unavailable
      tags:
        - Tank level resource
      deprecated: false
      operationId: getLatestTankLevelUsingGET
      summary: >-
        Returns the latest available tank level resource for the vehicle
        identification number.
components:
  schemas:
    ExVeError:
      properties:
        exveErrorId:
          type: string
        exveErrorMsg:
          type: string
        exveErrorRef:
          type: string
      title: ExVeError
      type: object
    FuelStatus:
      properties:
        rangeliquid:
          $ref: '#/components/schemas/Resource'
        tanklevelpercent:
          $ref: '#/components/schemas/Resource'
      title: FuelStatus
      type: object
    Resource:
      properties:
        timestamp:
          type: integer
        value:
          type: string
      title: Resource
      type: object
    ResourceMetaInfo:
      properties:
        href:
          type: string
        name:
          type: string
        version:
          type: string
      title: ResourceMetaInfo
      type: object
  securitySchemes:
    OAuth2:
      flows:
        authorizationCode:
          authorizationUrl: 'https://id.mercedes-benz.com/as/authorization.oauth2'
          scopes:
            'mb:vehicle:mbdata:fuelstatus': Grant fuel status access
          tokenUrl: 'https://id.mercedes-benz.com/as/token.oauth2'
      type: oauth2
security:
  - OAuth2:
      - 'mb:vehicle:mbdata:fuelstatus'
tags:
  - description: Fuel Status service for view all Fuel Status vehicle data points
    name: Container Fuel Status
  - description: Fuel Status service for view all accessible resources
    name: Resources
  - description: Fuel Status service for view gas tank level resource
    name: Tank level resource
  - description: Fuel Status service for view range liquid resource
    name: Range liquid resource

